{% extends 'agenda/layout/layout.html' %}

{% block title %}Agenda{% endblock title %}


{% block body %}

<main class="form-signin w-100 m-auto">
</section>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Agenda</h1>
        <p class="lead text-muted">Project powered by Django 4.1</p>
        <p>
          {% comment %} ! Añadir enlace  {% endcomment %}
          <a href="{%url 'list_contactos'%}" class="btn btn-primary my-2">Ver Contactos</a> 
          <a href="{%url 'add_contacto'%}" class="btn btn-secondary my-2">Crear Contacto</a>
        </p>
      </div>
    </div>
  </section>
</main>
{% endblock body %}